aclocal.m4
autom4te.cache
ChangeLog
COPYING
INSTALL
Makefile*
missing
autoscan.log
install-sh
configure
depcomp
compile
config.log
config.status
config.guess
config.sub
.deps
*.pyc
*.o
*.lo
.libs
*.la
libtool
ltmain.sh

daycode
tst_load_python
tst_create_thread
