aclocal.m4
autom4te.cache
ChangeLog
COPYING
INSTALL
Makefile*
missing
autoscan.log
install-sh
configure
depcomp
compile
config.log
config.status
config.guess
config.sub
daycode
.deps
*.o
*.lo
.libs
*.la
libtool
ltmain.sh
